<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDw7EaO0rlo5NrkydnvFZuMgGSb9T_5AIQ</string>
	<key>GCM_SENDER_ID</key>
	<string>697351981590</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ydmins.flutterYs0520250319</string>
	<key>PROJECT_ID</key>
	<string>flutter-ys05</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-ys05.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:697351981590:ios:859bcf42796aab68a30337</string>
</dict>
</plist>